%html
  %head
    %title tx.pignata.com :: 404
    %link{href: "/stylesheets/not_found.css", type: "text/css", rel: "stylesheet"}
    %script{type: "text/javascript", src: "//use.typekit.net/wqu7hjl.js"}
    :javascript
      try { Typekit.load(); } catch(e) {}

  %body
    #container lol. i don't know.
