body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin-left: 20px;
  margin-top: 0px;
  padding: 0;
  color: #333;

  #container {
    width: 1020px;
    margin: 0 auto;

    a {
      color: #6682b5;
      text-decoration: none;
    }

    p {
      font-size: 22px;
      line-height: 1.5em;
    }

    header {
      margin-bottom: 20px;

      h2 {
        text-align: center;
        width: 320px;
        padding: 0;
        margin: 0 0 20px 0;
        font-size: 48px;
        font-family: raleway-1;

        a {
          text-decoration: none;
          color: #333;
        }
      }

      div.ribbon {
        background-color: #aae;
        height: 50px;
        width: 320px;
        padding: 0;
      }

      .contact {
        p {
          font-size: 20px;
          margin: 0;
        }
      }
    }

    nav {
      float: left;
      width: 320px;

      .article {
        margin-bottom: 20px;

        a {
          font-size: 18px;
        }

        p {
          text-align: justify;
          line-height: 1.35em;
          font-size: 16px;
          margin: 5px 0 0 0;
          padding: 0;
        }
      }
    }

    article {
      width: 600px;
      margin-left: 50px;
      float: left;
      margin-top: 10px;

      h1 {
        letter-spacing: 0px;
        font-family: chunk-1;
        font-size: 36px;
        margin: 0;
        padding: 0;
      }

      h3 {
        letter-spacing: 0px;
        font-family: chunk-1;
        font-size: 26px;
      }

      .date {
        margin: 0 0 15px 0;
        font-size: 18px;
        font-style: italic;
      }

      .gist {
        font-size: 14px;
      }
    }

    .left {
      float: left;
    }

    .clearfix {
      clear: both;
    }
  }
}
